.orders-wrapper {
  margin-top: 60px;
  padding-bottom: 100px;
}

.order_list-page {
  display: grid;
  margin: 0 20px;
}

.order-title {
  margin-top: 30px;
  justify-self: center;
}

.order_list-container {
  justify-self: center;
  display: grid;
  min-width: 1400px;
  margin: 50px 20px;
}

.order-main-titles {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 2fr repeat(2, 1fr);
  justify-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.order_item-container {
  display: grid;
  min-height: 140px;
  padding: 5px 0;
  grid-template-columns: 250px 2fr repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid black;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.order_item-container:hover {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.order-id {
}

.order-titles {
  justify-self: start;
}

.order-user-id-gmails {
  justify-self: center;
}

.order-total-price {
}

.order_change_status-container {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

.order_change_status-form {
  display: grid;
  row-gap: 10px;
}

.admin_order_change_status-field {
  width: 120px;
  border: 2px solid black;
  cursor: pointer;
}

.admin_order_change_status-field > option {
  border: 2px solid black;
}

.admin_order_change_status-btn {
  background-color: rgb(12, 186, 53);
  border: 2px solid black;
  cursor: pointer;
  height: 25px;
}

.order_cancel-btn {
  background-color: transparent;
  padding: 10px 10px;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  transition: 200ms;
}

.order_cancel-btn:hover {
  border-color: transparent;
  background-color: var(--danger);
  color: white;
  transition: 300ms;
}

.status-prepearing {
  background-color: rgba(234, 184, 57, 0.3);
}

.status-dispatched {
  background-color: rgba(71, 150, 160, 0.3);
}

.status-canceled {
  background-color: rgba(196, 61, 52, 0.3);
}
