.orders-wrapper {
  margin-top: 60px;
  padding-bottom: 100px;
}

.order_list-page {
  display: grid;
  margin: 0 20px;
}

.order-title {
  margin-top: 30px;
  justify-self: center;
}

.order_list-container {
  justify-self: center;
  display: grid;
  min-width: 1400px;
  margin: 50px 20px;
}

.order-main-titles {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 150px 2fr repeat(2, 1fr);
  column-gap: 15px;
  justify-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.order-main-titles-admin {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 100px 3fr 2fr repeat(2, 1fr);
  column-gap: 15px;
  justify-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.order_item-container {
  display: grid;
  min-height: 140px;
  padding: 5px 0;
  grid-template-columns: 250px 150px 2fr repeat(2, 1fr);
  column-gap: 15px;
  justify-items: center;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.order_item-container-admin {
  display: grid;
  min-height: 140px;
  padding: 5px 0;
  grid-template-columns: 250px 100px 3fr 2fr repeat(2, 1fr);
  column-gap: 15px;
  justify-items: center;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.order_item-container-admin:hover {
  border-left: 2px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid rgba(0, 0, 0, 0.25);
}

.order_item-container:hover {
  border-left: 2px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid rgba(0, 0, 0, 0.25);
}

.order-id {
  justify-self: center;
}

.order-date {
}

.order-titles {
  justify-self: start;
}

.order-user-id-gmails {
  justify-self: center;
}

.order-total-price {
  justify-self: center;
  text-align: center;
}

.order_change_status-container {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

.order_change_status-form {
  display: grid;
  row-gap: 10px;
}

.admin_order_change_status-field {
  width: 120px;
  border: 2px solid black;
  cursor: pointer;
}

.admin_order_change_status-field > option {
  border: 2px solid black;
}

.admin_order_change_status-btn {
  background-color: transparent;
  height: 40px;
  border: 2px solid black;
  cursor: pointer;
}

.admin_order_change_status-btn:hover {
  border-color: transparent;
  background-color: var(--btnhover);
  color: white;
}

.order_cancel-btn {
  background-color: transparent;
  padding: 10px 10px;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  transition: 200ms;
}

.order_cancel-btn:hover {
  border-color: transparent;
  background-color: var(--danger);
  color: white;
  transition: 300ms;
}

.status-prepearing {
  background-color: var(--btnhoveropacity);
}

.status-dispatched {
  background-color: var(--thirdopacity);
}

.status-canceled {
  background-color: var(--dangeropacity);
}

.status-delivered {
  background-color: var(--fourthopacity);
}
